@{
    ViewBag.Title = "About STAPPPP";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>STAPPPP, or System for Tracking Accruent Ping-Pong Player Performance, is a new system designed to allow players to log ping-pong games and establish an objective skill ranking using the ELO rating system for singles ping-pong games.  
Current development efforts are focused on system stability, accuracy, and security; future roadmap goals include reporting analytics, ratings for doubles games, and integration with external systems (such as the mail service for notifications).
<br /><br />If you have questions or comments about STAPPPP, or want to get involved with future development, please visit the Contact page for contact information.

</p>
