@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<p>STAPPPP is still in early development.  Please let us know if you encounter issues using this service or are interesting in joining the project.<br />  
Good luck, and may your paddle burn with the fury of the desert sun.</p>

<address>
    <strong>Clint Johnson, Most Excellent Arbiter:</strong>   <a href="mailto:vjohnson@accruent.com">vjohnson@accruent.com</a><br />
    <strong>Eric Bensley, Super Awesomeness Commander:</strong> <a href="mailto:ebensley@accruent.com">ebensley@accruent.com</a>
</address>