@model PingPong.Web.Models.HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TEST YOUR MIGHT</h1>
    <p class="lead">STAPPPP Beta is a tool for recording and comparing the ping-pong playing performance of Accruent employees.  Below are the players and their current ratings.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<table border="1" style="width:300px">
<tr><td>Username</td><td>ELO Rating</td></tr>
@foreach (var player in Model.players)
{
    <tr>
        <td>@player.LoginName</td>
        <td>@player.CurrentEloRating</td>
    </tr>
}
</table>