
@{
    ViewBag.Title = "Delete";
}

<div class="container">
    <div class="text-center">
        <h2>The player you played in your most recent match has already played another person</h2>
        <h2>You cannot delete this game.</h2>
    </div>
</div>

